<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="header :: common_header(title = 'Sign Up')">
</head>
<body>
    <div th:replace="header :: header"></div>
    <!--/* サインアップフォームを作成 */-->
    <form th:action="@{/signup}" method="post" th:object="${signinForm}">
        <p>
            <input type="text" th:field="*{email}" class="form-control" placeholder="E-Mail Address">
        </p>
        <p>
            <input type="password" th:field="*{pswd}" class="form-control" placeholder="Password">
        </p>
        <button class="btn btn-primary" type="submit">ログイン</button>
    </form>
    <div th:replace="footer :: footer"></div>

</body>
</html>