@charset "UTF-8";

@import	url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("sanitize.css");

h1 {
	margin: 0.3em 0;
}

a {
	color: #363636;
}

ul {
	list-style: none;
	padding: 0;
}

ul li {
	margin-top: 5px;
}