@charset "UTF-8";

@import url("sanitize.css");

@import
	url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css")
	;

@import
	url('https://fonts.googleapis.com/css2?family=Righteous&family=Sriracha&display=swap')
	;

body {
	font-family: 'Righteous', cursive;
}

ul {
	list-style: none;
	padding: 0;
}

ul li {
	margin-top: 5px;
}

.bannerBlock {
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
	width: 300px;
	height: 300px;
	position: relative;
}

.bannerBlock span {
	font-size: 24px;
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	color: #FFF;
	transform: translate(-50%, -50%);
}

.bannerBlock img {
	border-radius: 10px;
	height: 300px;
	width: 300px;
	transition: opacity 1s ease 0s;
}

.bannerBlock img:hover {
	opacity: .5;
}

.bannerBlockLong {
	text-align: center;
	/*
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
	*/
	position: relative;
	
}

.bannerBlockLong span {
	font-size: 24px;
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	color: #FFF;
	transform: translate(-50%, -50%);
}

.bannerBlockLong img {
	border-radius: 10px;
	height: 156px;
	width: 626px;
	transition: opacity 1s ease 0s;
	z-index: 0;
	object-fit: cover;
}

.bannerBlockLong img:hover {
	opacity: .5;
}