<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<title>thymeleaf footer</title>
</head>
<body>
    <div th:fragment="footer">
        <hr>
        <footer class="container text-center">
            <p class="text-center">&copy;2022 @deile666</p>
            <a class="btn btn-primary btn-sm w-10" href="https://twitter.com/deile666" target="_">
                <i class="bi-twitter"></i>
            </a>
            <a class="btn btn-primary btn-sm w-10" href="https://discord.gg/vTNadhyTUW" target="_">
                <i class="bi-discord"></i>
            </a>
            <a class="btn btn-primary btn-sm w-10" href="https://github.com/K-MountainBook" target="_">
                <i class="bi-github"></i>
            </a>
            <!-- bootstrap js -->
            <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
        </footer>
    </div>
</body>
</html>