<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<!-- Bootstrap Icons-->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}"
	rel="stylesheet">
<title>Insert title here</title>
</head>

<body>
	<p th:text="${sample}"></p>
	<a class="btn btn-primary btn-sm" href="https://twitter.com/deilechang"
		target="_"> <i class="bi-twitter"></i>
	</a>
	<a class="btn btn-primary btn-sm" href="https://discord.gg/vTNadhyTUW"
		target="_"> <i class="bi-discord"></i>
	</a>
	<a class="btn btn-primary btn-sm"
		href="https://github.com/K-MountainBook" target="_"> <i
		class="bi-github"></i>
	</a>

	<form th:action="@{/confirm}" method="POST">
		<input type="text" name="inputValue">
		<button type="submit">submit</button>
	</form>

	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>